body {
    font-family: 'raleway', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
     }

.barra {
    background-color: transparent !important;
   
}

.card-img-top{
    display: inline-block;
    height: 40%;
    text-align: center;
}
.icons {
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    margin-right: 20px;
}